<p>
  We're sorry. We couldn't find any images in this location. Try:
</p>

<ul>
  <li>Searching for another location.</li>
  <li>Zooming out and clicking "Redo search in map"</li>
  <li>Uploading your own images from this area!</li>
</ul>
