<!-- <div class="row" id="image-display">
  <% if (image.get("image")) { %>
    <img src="<%= image.get("image").image.url %>"/>
  <% } %>
</div> -->

<!-- <%= image.get("title") %> -->

<div id="image-carousel-container">

</div>
