<div class="col-md-5 col-md-offset-7" id="map-and-search-container">
  <div class="row" id="map-container"></div>
</div>


<div class="col-md-7 image-grid-container" id="photo-grid-container">
</div>
