<% if (image.get("image").image) { %>
  <img src="<%= image.get("image").image.thumb.url %>"/>
<%  } else if (image.get("image").thumb) { %>
  <img src="<%= image.get("image").thumb.url %>"/>
<%  } %>


<a href="#/images/<%= image.id %>">
  <div class="overlay">
    <span class="glyphicon glyphicon-star-empty"></span>
  </div>
</a>
