<div id="image-carousel-container">

</div>

<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" id="user-info-container">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6" id="comments-container">
      </div>
    </div>
  </div>
</div>
