<div id="image-carousel-container">
</div>

<div class="row">
  <div class="container">
    <div class="col-sm-6">
      <div class="row" id="user-info-container">
      </div>

      <div class="row" id="comments-container">
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row" id="image-stats-container">
      </div>

      <div class="row" id="image-tags-container">
      </div>

      <a href="javascript:void(0)" id="image-address-link"></a>
      <div class="row" id="image-show-map-container">
      </div>
    </div>
  </div>
</div>
