<!-- <div class="form-group">
  <label for="image-name">Title</label>
  <input type="text"
         class="form-control"
         id="image-title"
         name="image[title]">
</div>

<div class="form-group">
  <label for="image-description">Description</label>
  <textarea class="form-control"
            id="image-description"
            name="image[description]"></textarea>
</div> -->

<div class="row" id="image-upload-container">
  <div class="col-sm-6 column">
    <div id="progress-bars">
    </div>
  </div>

  <div class="col-sm-6 column">
    <div id="file-drop-zone">
      <div id="inner-file-drop-zone">
        <div id="drop-zone-text">
          <h3>Drag and drop images here</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <form action="api/images" method="post" enctype="multipart/form-data" data-remote="true">
      <div class="form-group">
        <label for="image-file">Or upload here:</label>
        <input type="file"
               id="image-file"
               name="image[image]"
               multiple="multiple">
      </div>
    </form>
  </div>
</div>
