<% if (image.get("image").image) { %>
  <a href="javascript:void(0)">
    <img src="<%= image.get("image").image.micro.url %>">
  </a>
<% } else { %>
  <a href="javascript:void(0)">
    <img src="<%= image.get("image").micro.url %>">
  </a>
<% } %>
