<div class="row" id="image-form-container">
</div>

<div class="row" id="image-form-flow-controls">
  <div class="col-sm-6">
    <a href="javascript:void(0)">
      <h5 id="left-control">
      <span class="glyphicon glyphicon-menu-left"></span>
        Previous image
      </h5>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="javascript:void(0)">
      <h5 id="right-control">
        Next image
        <span class="glyphicon glyphicon-menu-right"></span>
      </h5>    
    </a>
  </div>
</div>
