<div class="panel-heading"><%= file.name %></div>

<div class="panel-body">
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped"
         role="progressbar"
         id="<%= file.name.split(".")[0] %>"
         style="width: 0%">
    </div>
  </div>
</div>
