<div id="banner-image">
</div>

<div id="banner-user-info">
  <% if (user.get("avatar")) { %>
    <img src="<%= this.model.get("avatar").avatar.micro.url %>" class="img-circle"/>
  <%  } %>

  <% if (user.get("email")) { %>
    <h4><%= user.get("email") %></h4>
  <% } %>
</div>
