<div class="row" id="user-banner-container">
</div>

<div class="navbar navbar-default" id="user-navbar">
  <ul class="nav navbar-nav">
    <li><a href="javascript:void(0)">Images</a></li>
    <li><a href="javascript:void(0)">Favorites</a></li>
  </ul>
</div>

<div class="row" id="user-content-container">
</div>
