<% if (user) { %>
  <a href="#/users/<%= user.id %>">
    <div>
      <% if (user.get("avatar")) { %>
        <img src="<%= this.model.get("avatar").micro.url %>" class="img-circle user-avatar" />
      <%  } %>

      <% if (user.get("name")) { %>
        <h4><%= user.get("name") %></h4>
      <% } %>
    </div>
  </a>
<% } %>
