<img src="assets/welcome_banner.jpg" id="welcome-banner"/>

<div id="welcome-content">
  <h1 id="welcome-header">Beautiful images anywhere.</h1>
  <form class="form-inline">
    <div class="form-group">
      <input type="search"
             class="form-control"
             name="search[location]"
             id="welcome-search"
             placeholder="Search by location. Try San Francisco.">
      <a href="javascript:void(0)"
         class="btn btn-success btn-lg"
         id="welcome-search-submit">Search</a>
    </div>
  </form>
</div>
