<nav class="navbar navbar-inverse navbar-fixed-top" id="site-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/#" class="navbar-brand" id="logo">GeoFlickr</a>
    </div>

    <div id="search-controls">
      <form class="navbar-form navbar-left">
        <div class="input-group">
         <span class="input-group-addon" id="search-icon">
           <span class="glyphicon glyphicon-search"></span>
         </span>
         <input type="text"
                class="form-control"
                name="search[location]"
                id="search-input">
        </div>
      </form>

      <ul class="nav navbar-nav" id="tag-dropdown">
      </ul>
    </div>

    <% if (currentUserId) { %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/images/new" class="" id="upload-link">Upload</a></li>
        <li>
          <form class="navbar-form">
            <button type="submit" class="btn btn-default" id="sign-out">Sign Out</button>
          </form>
        </li>
      </ul>

    <% } else { %>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#" id="log-in">Log In</a></li>
          <li><a href="#" id="sign-up">Sign Up</a></li>
      </ul>
    <% } %>
  </div>
</nav>
