@import "bootstrap-sprockets";
@import "bootstrap";

#root {
  margin-top: 50px;
}

#logo {
  font-family: 'Istok Web', sans-serif;
  font-size: 28px;
}

#map-and-search-container {
  position: fixed;
  height: 100%;
  padding: 0;
  #search-controls {
    height: 25%;
    border-width: thin;
    border-style: solid;
    border-color: #03396c;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  #map-container {
    border-width: thin;
    border-style: solid;
    border-color: #03396c;
    // height: 75%;
    #map-canvas {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

.row {
  margin: 0;
}

#photo-grid-container {
  padding: 0;
  #photo-grid {
    margin: 0 auto;
    width: 100%;
    .box {
  	  position: relative;
      margin-top: 1px;
      box-sizing: border-box;
      margin-bottom: 1px;
      width: 33%;
  	  img {
  	  	max-width: 100%;
  	  	height: auto;
  	  }
      span {
        position: absolute;
        display: none;
        color: white;
      }

      span.active {
        display: inline-block;
      }

      :after {
        content:'\A';
        position:absolute;
        width:100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.6);
        opacity:0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
      }
      :hover:after {
        opacity:1;
      }
  	}
  }
}


.navbar {
  border-radius: 0;
  margin-bottom: 1px;
}

.navbar-inverse {
  background-color: #03396c;
  a {
    color: #b3cde0 !important;
  }
  a:hover {
    color: white !important;
  }
}

.modal-dialog.large {
  width: 50%;
}

#image-upload {
  width: 95%;
  margin: 0 auto;
}

#image-upload-container {
  margin-right: 5px;
  margin-left: 5px;
  .column {
    padding: 5px;
  }

  #file-drop-zone {
    height: 400px;
    background-color: #b3cde0;
    border-radius: 5px;
    padding: 20px;
    #inner-file-drop-zone{
      #drop-zone-text {
        h3 {
          margin-top: 10px;
        }
        margin: 10px;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      border-radius: 5px;
      height: 100%;
      width: 100%;
      position: relative;
      border-style: dashed;
      border-color: #005b96;
    }
  }

  #progress-bars {
    height: 400px;
    padding: 2px;
    overflow-y: scroll;
    border-radius: 5px;
    border-style: solid;
    border-color: #6497b1;
    border-width: thin;
    .progress-panel {
      margin: 0;
    }
  }
}

#image-form-flow-controls {
  #right-control {
    text-align: right;
  }
}

#image-form-map {
  height: 400px;
  #form-map-canvas {
    height: 100%;
  }
}

.search-bar-row {
  padding: 5px;
  .search-controls-label {
    text-align: center;
  }
}
