@import "bootstrap-sprockets";
@import "bootstrap";

#root {
  position: relative;
}

#content {
  margin-top: 50px;
  position: relative;
}

#logo {
  font-family: 'Istok Web', sans-serif;
  font-size: 28px;
}

#navbar.welcome {
  .navbar {
    background: transparent;
    border: none;
    height: 65px;
    .navbar-inner {
      margin-top: 15px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  #navbar-search {
    display: none;
  }
}

.pac-container {
    z-index: 99999;
}

.pac-container, .pac-item {
  width: inherit !important;
}

.welcome-container {
  overflow: hidden;
  position: absolute;
  top: -50px;
  width: 100%;
  background-color: black;
  #welcome-content {
    width: 80%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    h1 {
      text-align: center;
      font-family: 'Istok Web', sans-serif;
      font-size: 38px;
      text-transform: uppercase;
      color: white;
      #header-adjective {
        color: #b3cde0;
        font-size: 46px;
      }
      #header-cursor {
        color: #b3cde0;
        font-size: 38px;
        position: relative;
        top: -6px;
      }
      .blink {
        animation: blink 0.8s steps(5, start) infinite;
        -webkit-animation: blink 0.8s steps(5, start) infinite;
      }
      @keyframes blink {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink {
        to {
          visibility: hidden;
        }
      }
    }
    form {
      margin-top: 20px !important;
      #welcome-search {
        width: 300px;
        height: 40px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
      a {
        font-family: 'Istok Web', sans-serif;
        font-size: 16px;
        margin-left: -5px;
        height: 40px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 100px;
      }
      margin: 0 auto;
      width: 400px;;
    }
  }
  #welcome-banner {
    position: absolute;
    top: 0;
    // width: 100%;
    // min-height: 100%;
  }
}


.modal-footer {
  position: relative;
  #sign-up-option {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: inline-block;
    float: left;
    text-align: left;
  }
}

.user-info {
  margin: 10px;
  display: inline-block;
  h4 {
    margin-left: 5px;
    display: inline;
  }
  .user-avatar {
    height: 75px;
    width: 75px;
  }
}

#banner-image {
  height: 300px;
  overflow-y: hidden;
  img {
    width: 100%;
  }
}

.slick-prev:before, .slick-next:before {
    color: grey !important;
}

.image-show-container {
  padding: 0;
  #image-carousel-container {
    background-color: #555555;
    #primary-image {
      position: relative;
      #left-arrow {
        position: absolute;
        display: block;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 3em;
      }
      #right-arrow {
        position: absolute;
        display: block;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 3em;
      }
      #primary-image-container {
        // position: relative;
        img {
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translateY(-50%) !important;
          // transform: translateX(-50%) !important;
          margin: 0 auto;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
    #image-carousel {
      position: relative;
    }
    #slider-images {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      width: 25%;
      #slider-wrapper {
        margin-left: 40px;
        margin-right: 40px;
      }
      .slider-item {
        margin-left: 2px;
        margin-right: 2px;
        height: 25px;
      }
      img {
        height: 100%;
      }
      #variable-width-slider {
        margin-bottom: 5px;
      }
    }

    #slider-images.large {
      width: 50%;
      .slider-item {
        height: 100px;
      }
    }
  }
}

// #image-display {
//   img {
//     max-width: 100%;
//   }
// }

// .image-show-container {
//   padding: 0;
// }

// #image-carousel-container {
//   height: 400px;
//   #image-carousel {
//     height: 100%;
//     #slider-images {
//       height: 200px;
//     }
//   }
// }

#map-and-search-container {
  position: fixed;
  height: 100%;
  padding: 0;
  #search-controls {
    height: 25%;
    border-width: thin;
    border-style: solid;
    border-color: #03396c;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  #map-container {
    border-width: thin;
    border-style: solid;
    border-color: #03396c;
    // height: 75%;
    #map-canvas {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

#search-in-map {
  z-index: 9999;
  position: absolute;
  top: 29px;
  left: 80px;
}

.row {
  margin: 0;
}

.image-grid-container {
  padding: 0;
  // background-color: #e3e3e3;
  #image-grid-contents {
    #no-images-alert-container {
      width: 75%;
      padding: 30px;
      margin: 0 auto;
      margin-top: 100px;
      position: relative;
      border-style: solid;
      border-width: thin;
      border-radius: 5px;
      border-color: #999999;
      background-color: #b3cde0;
      #no-images-alert {
        position: relative;
        font-size: 18px;
        vertical-align: middle;
      }
    }
    #no-images-alert-container.hidden {
      display: none;
    }
  }
  .photo-grid {
    margin: 0 auto;
    width: 100%;
    .box {
  	  position: relative;
      margin-top: 1px;
      box-sizing: border-box;
      margin-bottom: 1px;
      width: 33%;
  	  img {
  	  	width: 100%;
  	  	height: auto;
  	  }
      .overlay {
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background: rgba(0,0,0,0.6);
        opacity: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        span {
          position: absolute;
          right: 8px;
          top: 8px;
          color: white;
          font-size: 1.8em;
          // z-index: 10;
        }
        span.favorited {
          color: #D0C279;
        }
      }

      .overlay.active {
        opacity: 1;
      }

  	}
  }
}


.navbar {
  border-radius: 0;
  margin-bottom: 1px;
}

.navbar-inverse {
  background-color: #03396c;
  a {
    color: #b3cde0 !important;
  }
  a:hover {
    color: white !important;
  }
}

.modal-dialog.large {
  width: 75%;
}

#navbar-search {
  #search-input {
    width: 300px;
  }
}

#image-upload {
  width: 95%;
  margin: 0 auto;
}

#image-upload-container {
  margin-right: 5px;
  margin-left: 5px;
  .column {
    padding: 5px;
  }

  #file-drop-zone {
    height: 400px;
    background-color: #b3cde0;
    border-radius: 5px;
    padding: 20px;
    #inner-file-drop-zone{
      #drop-zone-text {
        h3 {
          margin-top: 10px;
        }
        margin: 10px;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      border-radius: 5px;
      height: 100%;
      width: 100%;
      position: relative;
      border-style: dashed;
      border-color: #005b96;
    }
  }

  #progress-bars {
    height: 459px;
    padding: 2px;
    overflow-y: scroll;
    border-radius: 5px;
    border-style: solid;
    border-color: #6497b1;
    border-width: thin;
    .progress-panel {
      margin: 0;
    }
  }
}

#image-form-flow-controls {
  #right-control {
    text-align: right;
  }
}

#image-form-map {
  height: 400px;
  #form-map-canvas {
    height: 100%;
  }
}

#image-forms {
  .thumbnail {
    height: 150px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

#tag-checkboxes {
  width: inherit;
  height: 100px;
  overflow-y: scroll;
}

.tag-checkbox {
  margin-left: 5px;
}

.tag-list-item {
  margin-left: 10px;
}

.search-bar-row {
  padding: 5px;
  .search-controls-label {
    text-align: center;
  }
}

#user-navbar {
  z-index: 999;
  width: 100%;
}

.stuck#user-navbar {
  position: fixed;
  top: 50px;
}

#comments-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  .avatar {
    img {
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto;
    }
  }
  #comment-items {
    .comment-row {
      padding: 5px;
      .comment {
        padding-left: 0;
      }
    }
  }
  #comment-form {
    .comment-form-row {
      padding: 5px;
    }
    #comment-input {
      padding-left: 0;
    }
    #submit-comment {
      float: right;
      .hidden {
        display: none;
      }
    }
  }
}
