<div class="row search-bar-row">
  <div class="col-sm-2 search-controls-label">
    <h5>Location</h5>
  </div>

  <div class="col-sm-10 search-controls-field">
    <form class="form-inline">
      <div class="input-group">
       <span class="input-group-addon">
         <span class="glyphicon glyphicon-search"></span>
       </span>
       <input type="text"
              class="form-control"
              id="index-search-input">
     </div>
    </form>
  </div>
</div>

<div class="row search-bar-row">

</div>
