<div class="checkbox">
  <label>
    <input type="checkbox"
           name="image[tag_ids][]"
           id="image-tag-<%= tag.id %>"
           value="<%= tag.id %>"><%= tag.escape("label") %>
  </label>
</div>
