<div class="checkbox">
  <label>
    <input type="checkbox"
           name="search[tag_ids][]"
           id="collection-tag-<%= tag.id %>"
           value="<%= tag.id %>"><%= tag.escape("label") %>
  </label>
</div>
